PORT=3001
DATABASE_URL="postgresql://postgres.txiycwjoxrwoasgdxsos:Pg47sPWzavecYwCx@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.txiycwjoxrwoasgdxsos:Pg47sPWzavecYwCx@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
REDIS_URL="redis://localhost:6379"
GEMINI_API_KEY=""
